<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to cvmachine!</title>
</head>
<body>
<div class="container">
    <h1>IN PROGRESS</h1>
    <div class="row">
        Personal Data:
    </div>
    <div class="row">
        <div class="col-md-2">
            First name:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.firstName}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Last name:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.lastName}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Address:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.address}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Email:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.email}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Phone
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.phone}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            LinkedIn:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.linkedInProfile}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            VCS repo:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.vcsRepo}"></div>
    </div>
    <form class="form-horizontal" action="/personaldata" method="get">
        <input type="submit" class="btn btn-primary" value="Edit Personal Data">
    </form>
    <br><br>
    <div class="row">
        Education Data:
    </div>
    <div id="edu" th:each="education : ${CVModel.educationList}">
        <div class="row cv-date">
            <div class="col-md-10 col-md-offset-2">
                <span th:text="'From' +  ${education.startDate}"></span>
                <span th:text="' to ' + ${education.endDate}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" th:text="${education.schoolName}"></div>
            <div class="col-md-10" th:text="${education.description}"></div>
        </div>
        <div class="row">
            <a class="btn btn-primary" th:href="@{/education(id=${education.id})}">Edit education info</a>
        </div>

        <br>
    </div>
    <br><br>
    <div class="row">
        Work Experience:
    </div>
    <div id="work" th:each="workExperience : ${CVModel.workExperienceList}">
        <div class="row cv-date">
            <div class="col-md-10 col-md-offset-2">
                <span th:text="'From' + ${workExperience.startDate}"></span>
                <span th:text="' to ' + ${workExperience.endDate}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" th:text="${workExperience.companyName}"></div>
            <div class="col-md-10" th:text="${workExperience.description}"></div>
        </div>
        <br>
    </div>
    <br><br>

    <div class="row">
        Skills:
    </div>
    <div id="skills" th:each="skill : ${CVModel.skillList}">
        <div class="row">
            <div class="col-md-5" th:text="${skill.name}"></div>
        </div>
        <br>
    </div>
    <br><br>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>