<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to cvmachine!</title>
</head>
<body>
<div class="container">
    <h1>IN PROGRESS</h1>
    <div class="row">
        Personal Data:
    </div>
    <div class="row">
        <div class="col-md-2">
            First name:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.firstName}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Last name:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.lastName}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Address:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.address}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Email:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.email}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Phone
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.phone}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            LinkedIn:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.linkedInProfile}"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            VCS repo:
        </div>
        <div class="col-md-10" th:utext="${CVModel.userData.vcsRepo}"></div>
    </div>
    <div class="row">
        <a class="btn btn-primary pull-right" href="/personaldata">Edit personal data</a>
    </div>
    <br>
    <hr style="width: 80%; color: black; height: 2px; background-color:black;" />
    <br>
    <div class="row">
        Education Data:
    </div>
    <div id="edu" th:each="educationMapInstance : ${CVModel.educationMap}">
        <div class="row cv-date">
            <div class="col-md-10 col-md-offset-2">
                <span th:text="'From' +  ${educationMapInstance.value.startDate}"></span>
                <span th:text="' to ' + ${educationMapInstance.value.endDate}"></span>
            </div>
        </div>
        <!--<tr th:each="instance : ${analysis.instanceMap}">
            <td th:text="${instance.key}">keyvalue</td>
            <td th:text="${instance.value.numOfData}">num</td>
        </tr>-->
        <div class="row">
            <div class="col-md-2" th:text="${educationMapInstance.value.schoolName}"></div>
            <div class="col-md-10" th:text="${educationMapInstance.value.description}"></div>
        </div>
        <div class="row">
            <a class="btn btn-primary pull-right" th:href="@{/education(id=${educationMapInstance.value.id})}">Edit education info</a>
        </div>
        <br>
    </div>
    <hr style="width: 80%; color: black; height: 2px; background-color:black;" />
    <br>
    <div class="row">
        Work Experience:
    </div>
    <div id="work" th:each="workExperienceInstance : ${CVModel.workExperienceMap}">
        <div class="row cv-date">
            <div class="col-md-10 col-md-offset-2">
                <span th:text="'From' + ${workExperienceInstance.value.startDate}"></span>
                <span th:text="' to ' + ${workExperienceInstance.value.endDate}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" th:text="${workExperienceInstance.value.companyName}"></div>
            <div class="col-md-10" th:text="${workExperienceInstance.value.description}"></div>
        </div>
        <div class="row">
            <a class="btn btn-primary pull-right" th:href="@{/experience(id=${workExperienceInstance.value.id})}">Edit work experience info</a>
        </div>
        <br>
    </div>
    <hr style="width: 80%; color: black; height: 2px; background-color:black;" />
    <div class="row">
        Skills:
    </div>
    <div id="skills" th:each="skillInstance : ${CVModel.skillMap}">
        <div class="row">
            <div class="col-md-5" th:text="${skillInstance.value.name}"></div>
        </div>
        <br>
    </div>
    <br>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>