<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Experience Data</title>
</head>
<body>
<div class="container">
    <h1>Enter job experience info:</h1>
    <div>
        <form class="form-horizontal" action="#" th:action="@{/experience}" th:object="${experience}" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="companyName">Company name:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="companyName" id="companyName" th:field="*{companyName}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="positionName">Position name:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="positionName" id="positionName" th:field="*{positionName}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description of responsibilities: </label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="5" name="description" id="description"
                              th:field="*{description}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="startDate">Beginning date:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="date" name="startDate" id="startDate" th:field="*{startDate}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="endDate">Date of finish: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="date" name="endDate" id="endDate" th:field="*{endDate}"><br>
                </div>
            </div>
            <div th:if="${param.id != null}">
            <input type="hidden" name="id" th:value="${param.id != null} ? ${param.id}" />
            </div>
            <br><br>
            <input type="submit" class="btn btn-primary" value="Submit data">
        </form>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>