<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Personal Data</title>
</head>
<body>
<div class="container">
    <h1>Enter personal data:</h1>
    <div>
        <form class="form-horizontal" action="#" th:action="@{/personaldata}" th:object="${userData}" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="firstName">First Name:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="firstName" id="firstName" th:field="*{firstName}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName">Last Name:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="lastName" id="lastName" th:field="*{lastName}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="street">Street with building and apartment:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="street" id="street" th:field="*{address.street}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="postalCode">Postal Code:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="postalCode" id="postalCode" th:field="*{address.postalCode}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="city">City:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="city" id="city" th:field="*{address.city}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="email" id="email" th:field="*{email}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone" >Telephone number:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="phone" id="phone" th:field="*{phone}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="linkedIn">Link to LinkedIn profile:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="linkedIn" id="linkedIn" th:field="*{linkedInProfile}"><br>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="vcsRepo">Link to Version Control System repository:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="vcsRepo" id="vcsRepo" th:field="*{vcsRepo}"></div>
            </div>
            <br><br>
            <input type="submit" class="btn btn-primary" value="Submit data">
        </form>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>